.menuItem {
  width: 300px;
  padding: 1rem 2rem 0rem 2rem;
}
  @media screen and (min-width: 769px) {
    .menuItem {
      display: flex; 
    }
    .price {
      margin-right:2em;
      float:right;
    }
  }

  @media screen and (min-width: 960px){
    .menuItem {
      padding: 25px 20px 25px 0px;
    }
  }

.itemContent {
  flex: 1;
  text-align: left; 
}

.desc {
  line-height: 1.3em;
  margin-right: 2em;
  text-transform: lowercase;
}

.name {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.2em;
  display: inline-block;
  margin: 0px;
  text-transform: uppercase;
}

.price {
  float:right;
}
