.container {
  margin: 0 auto;
  max-width: 960px;
  color: #000;
  line-height: 150%;
}

.collection {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.selector {
  width: 100%;
}

.title {
  text-transform: capitalize;
  text-align: center; 
}

@media (max-width: 725px){
  .collection {
    justify-content: center;
  }
}