.Footer {
  padding: 5rem 20% 1.5rem 20%;
  background: gray(25%);
  color: gray(60%);
  font-size: 0.85em;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;

}

.Footer a {
  padding-bottom: 1px;
  border: 0;
  color: gray(90%);
}
.Footer a:focus,
.Footer a:active,
.Footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.Footercredits {
  margin: 0;
  padding: 0;
}

.Footercredit {
  display: block;
  margin: 0;
}

.FootercreditSeparator {
  display: none;
}

/* If loading the social button fails */
.Footersocial a,
.Footersocial iframe {
  display: inline-block;
  margin: 0 0 1em;
  vertical-align: top;
}

@media (--break-md) {
  .Footercredit {
    display: inline-block;
    margin: 0 0.25em;
  }
  .FootercreditSeparator {
    display: inline-block;
    padding: 0 0.25em;
  }
}

.spaced {
  padding-left: 20px;
}

.FooterLinks {
  display: flex;
  flex-flow: row;
}

@media (max-width: 1023px){
  .Footer {
    flex-direction: column;
  }
  .FooterSocial {
    padding-top: 25px;
  }
}