body {
  margin: 0;
  /*padding: 0;*/
  padding-top: 200px;
  /*font-family: "Open Sans", sans-serif;*/
  color: white;
  background-color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}