.Content {
	padding-top: 175px;
}

.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.siteContent {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.siteContent:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  color: #000;
  line-height: 150%;
}

@media (max-height: 799px){
  .Content {
    padding-top: 140px;
  }
}